/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* header section starts */
header{
    background-color: black;
    height: 100vh;
    width: 100%;
}
.title{
    font-size: 60px;
    color: #FF5E19;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.left-img{
    position: relative;
}
.back-img{
    position: absolute;
    /* border: 2px solid white; */
    width: 300px;
    height: 350px;
    top: 160px;
}
.mbappe-1{
    width: 270px;
    height: 350px;
    position: absolute;
    top: 216px;
    z-index: 1;
}
.right-img{
    position: relative;
}
.messi-1{
    position: absolute;
    right:100px;
    top: 150px;
}
.logo{
    position: absolute;
    right:180px;
    top: 130px;
}
.rectangle{
    position: absolute;
    right:0;
    top: 260px;
}
.soccer{
    position: absolute;
    right:0;
    top:380px;
}
/* header section ends */
/* main starts here */

section{
    background-color: #151515;
}
.card-body{
    background-color: #0D0D0D;
}
.card-title{
    font-size: 20px;
    padding: 10px 0;
   
}
.grid-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    padding: 20px 0 ;
}
.right-select-card{
    padding: 20px 0 ;
}
.select-title{
    padding: 20px 0;
    font-size: 24px;
}
.select-card{
    color: white;
    background-color: #0D0D0D;
    width: 264px;
    height: 340px;
    padding: 0 10px;
    margin-bottom: 30px;
}
.player-name{
    padding: 10px;
}
/* budget card */
.budget-card{
    background-color: #0D0D0D;
    width: 264px;
    height: 450px;
    padding: 0 20px;
}
.player-salary{
    font-size: 16px;
}
.input-style{
    width: 120px;
    background-color: #0D0D0D;
    text-align: center;
    color: white;
    padding: 6px 0;
    outline: none;
    border: 2px solid white; 
}
#calculate-btn{
    margin-top: 20px;
}
.player-exp{
    font-size: 16px;
    padding: 20px 0;
}
#calculate-btn-total{
    margin: 20px 0;
}
.total-color{
    color: #FF5E19;
}
